body {
    display: block;
    flex: 1;
    background-color: #eeeeee;
    padding: 0px;
    margin: 0px;
}

.center {
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex: 1;
}

.sketch {
    display: flex;
}

.block-div {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    outline: 1px;
    padding: 0px;
    margin: 0px;
}

.block {
    padding: 0px;
    margin: 0px;
   
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    box-sizing:border-box;
    outline: 1px;
}

.footer {
    display: flex;
}